.menu-button {
  display: none;
  cursor: pointer;
  outline: none;
  border: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: black;
  border-radius: 50%;
  position: fixed;
  right: 0.75rem;
  bottom: 0.75rem;
  align-items: center;
  justify-content: center;
}

.menu-button svg {
  fill: white;
}

/*Main content*/

.main-container {
  max-width: 1200px;
  margin: auto;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  max-width: 740px;
  text-align: center;
  padding: 1rem;
}

.main-content h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: var(--gray-one);
}

.main-content h1 span {
  color: var(--primary-color);
}

.main-content p {
  color: var(--gray-two);
  font-size: 20px;
  margin: auto auto 1.5rem auto;
  line-height: 150%;
}

.cta-buttons .btn-icon-leading > span {
  transition-duration: 0.3s;
}

.cta-buttons .btn-icon-leading:hover > span {
  transform: translateX(4px);
}

/*Documantation page*/

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
}

.sidebar {
  padding: 1rem;
  width: 250px;
  overflow-y: scroll;
  height: 85vh;
  position: sticky;
  position: -webkit-sticky;
  top: 5rem;
  flex-shrink: 0;
}

.sidebar .nav-header {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
  margin: 1.25rem auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar .nav-link {
  color: var(--gray-four);
  font-weight: 500;
}

.sidebar li {
  padding: 0.5rem 0;
}

.sidebar .active {
  color: var(--primary-color);
}

.container .content-main {
  padding: 3rem 0 0 3rem;
}

.sidebar::-webkit-scrollbar {
  width: 0.25rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 1.2rem;
}

.content-main {
  max-width: 700px;
  margin-bottom: 1.25rem;
}

.content-main h1 {
  margin-bottom: 1.5rem;
}

.content-main p {
  margin-bottom: 1.5rem;
}

.content-main h4 {
  margin-bottom: 1.5rem;
}

.showcase-box {
  padding: 1rem;
  background-color: #f3f4f6;
  border: 0.25rem;
  margin-bottom: 1.5rem;
  z-index: -1;
  border-radius: 0.25rem;
}

pre {
  margin-bottom: 1.5rem;
  padding: 1.25rem;
  border-radius: 0.25rem;
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    background: white;
  }
  .container {
    display: block;
  }
  .container .content-main {
    padding: 1rem;
  }
  .menu-button {
    display: flex;
  }

  .main-content h1 {
    font-size: 2rem;
  }

  .main-content p {
    font-size: 1rem;
  }
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border: 1px solid lightgray;
  font-family: inherit;
  font-size: 0.875rem;
  overflow: hidden;
  padding: 0.75rem 0.5rem;
  word-break: normal;
}
.tg th {
  border: 1px solid lightgray;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 600;
  overflow: hidden;
  padding: 0.75rem 0.5rem;
  word-break: normal;
}

/*Code copy button*/

.code-toolbar > .toolbar {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.code-toolbar {
  position: relative;
}

.code-toolbar > .toolbar button {
  font-family: inherit;
  border: 0;
  padding: 0.25rem;
  background: #4b5563;
  color: white;
  border-radius: 0.25rem;
}
