<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/components.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- BADGE -->

    <!-- Icon with Badge -->

    <div class="badge-icon">
      <svg width="1.5rem" height="1.5rem" viewBox="0 0 24 24">
        <path
          d="M20 8l-8 5l-8-5V6l8 5l8-5m0-2H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"
          fill="currentColor"
        ></path>
      </svg>
      <div class="badge badge-dot-number badge-primary">1</div>
    </div>

    <!-- Dot Badge -->

    <span class="badge badge-text badge-green">Green</span>
    <span class="badge badge-text badge-red">Red</span>
    <span class="badge badge-text badge-yellow">Yellow</span>
    <span class="badge badge-text badge-blue">Blue</span>

    <!-- Rating Badge -->

    <span class="badge badge-rating badge-green"
      >4.3<svg width="1.125rem" height="1.125rem" viewBox="0 0 24 24">
        <path
          d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21L12 17.27z"
          fill="currentColor"
        ></path></svg
    ></span>

    <!-- AVATAR -->
    <div class="avatar avatar-sl">
      <img src="/images/image-kira.jpg" alt="img-avatar" class="img-round" />
    </div>
    <div class="avatar avatar-lg">
      <img src="/images/image-kira.jpg" alt="img-avatar" class="img-round" />
    </div>
    <div class="avatar avatar-xl">
      <img src="/images/image-kira.jpg" alt="img-avatar" class="img-round" />
    </div>

    <!-- AVATAR WITH BADGE -->
    <div class="avatar avatar-lg">
      <img src="/images/image-kira.jpg" alt="img-avatar" class="img-round" />
      <div class="badge badge-dot badge-green"></div>
    </div>

    <!-- ALERTS -->

    <!-- Error Alert -->
    <div class="alert error">
      <svg width="20px" height="20px" viewBox="0 0 24 24">
        <path
          d="M13 13h-2V7h2m0 10h-2v-2h2M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2z"
        ></path>
      </svg>
      This is a error alert
    </div>

    <!-- Success Alert -->
    <div class="alert success">
      <svg width="20px" height="20px" viewBox="0 0 36 36">
        <path
          class="clr-i-solid clr-i-solid-path-1"
          d="M18 2a16 16 0 1 0 16 16A16 16 0 0 0 18 2zm10.45 10.63L15.31 25.76L7.55 18a1.4 1.4 0 0 1 2-2l5.78 5.78l11.14-11.13a1.4 1.4 0 1 1 2 2z"
        ></path>
      </svg>
      This is a success alert
    </div>

    <!-- Warning Alert -->
    <div class="alert warning">
      <svg width="20px" height="20px" viewBox="0 0 24 24">
        <path
          d="M13 13h-2V7h2m0 10h-2v-2h2M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2z"
        ></path>
      </svg>
      This is a warning alert
    </div>

    <!-- Info Alert -->
    <div class="alert info">
      <svg width="20px" height="20px" viewBox="0 0 24 24">
        <path
          d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2z"
        ></path>
      </svg>
      This is a info alert
    </div>

    <!-- CARDS -->

    <!-- Wishlist Button -->

    <div class="card-button">
      <svg width="1em" height="1em" viewBox="0 0 24 24">
        <path
          d="M12.1 18.55l-.1.1l-.11-.1C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5c1.54 0 3.04 1 3.57 2.36h1.86C13.46 6 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5c0 2.89-3.14 5.74-7.9 10.05M16.5 3c-1.74 0-3.41.81-4.5 2.08C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.41 2 8.5c0 3.77 3.4 6.86 8.55 11.53L12 21.35l1.45-1.32C18.6 15.36 22 12.27 22 8.5C22 5.41 19.58 3 16.5 3z"
        ></path>
      </svg>
    </div>

    <!-- Close Button -->

    <div class="card-button">
      <svg width="1em" height="1em" viewBox="0 0 24 24">
        <path
          d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41z"
        ></path>
      </svg>
    </div>

    <!-- Product Card -->
    <div class="product-card">
      <div class="product-image">
        <img
          src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/1996794/2020/11/19/eeddb240-a694-448b-8a5d-7e51f5a935e31605783640839-Roadster-Men-Olive-Green-Solid-Raw-Edge-Round-Neck-T-shirt-3-1.jpg"
          alt="product"
        />
      </div>
      <div class="product-details">
        <h4>Adidas - T Shirt</h4>
        <span>Rs. 499</span>
      </div>
      <button class="card-button">
        <svg width="1.25rem" height="1.25rem" viewBox="0 0 24 24">
          <path
            d="M12.1 18.55l-.1.1l-.11-.1C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5c1.54 0 3.04 1 3.57 2.36h1.86C13.46 6 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5c0 2.89-3.14 5.74-7.9 10.05M16.5 3c-1.74 0-3.41.81-4.5 2.08C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.41 2 8.5c0 3.77 3.4 6.86 8.55 11.53L12 21.35l1.45-1.32C18.6 15.36 22 12.27 22 8.5C22 5.41 19.58 3 16.5 3z"
          ></path>
        </svg>
      </button>
      <div class="badge-text bg-blue">New</div>
    </div>

    <!-- Cart Card -->

    <div class="cart-card flex shadow-sm">
      <div style="width: 150px; height: 150px">
        <img
          width="100%"
          height="100%"
          src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/1996794/2020/11/19/eeddb240-a694-448b-8a5d-7e51f5a935e31605783640839-Roadster-Men-Olive-Green-Solid-Raw-Edge-Round-Neck-T-shirt-3-1.jpg"
          alt="product"
        />
      </div>
      <div class="cart-details flex flex-col justify-between">
        <div>
          <p class="text-base text-semibold mb-2">IWC Watches</p>
          <p class="mb-2">Wrist Watch</p>
          <p class="text-bold">Rs. 2000</p>
        </div>
        <div>
          <button class="btn-cart">–</button>
          <span class="text-bold">3</span>
          <button class="btn-cart mr-4">+</button>
          <button class="btn-cart btn-cart-delete">
            <svg width="1.25rem" height="1.25rem" viewBox="0 0 24 24">
              <path
                d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6v12z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Text Card -->

    <div class="text-card shadow-sm">
      <p>
        Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in
        laying out print, graphic or web designs. The passage is attributed to
        an unknown typesetter in the 15th century who is thought to have
        scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a
        type specimen book.
      </p>
    </div>

    <!-- BUTTONS -->

    <button class="btn btn-lg btn-primary">Primary</button>

    <button class="btn btn-lg btn-secondary">Secondary</button>

    <button class="btn btn-lg btn-success">Success</button>

    <button class="btn btn-lg btn-danger">Error</button>

    <button class="btn btn-lg btn-warning">Warning</button>

    <button class="btn btn-lg btn-info">Info</button>

    <button class="btn btn-lg btn-icon-trailing">
      <span>
        <svg width="1em" height="1em" viewBox="0 0 24 24">
          <path
            d="M20 8l-8 5l-8-5V6l8 5l8-5m0-2H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"
            fill="currentColor"
          ></path>
        </svg>
      </span>
      Icon Button
    </button>

    <button class="btn btn-lg btn-icon-leading">
      Icon Button
      <span>
        <svg width="1em" height="1em" viewBox="0 0 24 24">
          <path
            d="M20 8l-8 5l-8-5V6l8 5l8-5m0-2H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"
            fill="currentColor"
          ></path>
        </svg>
      </span>
    </button>

    <!-- MODAL -->

    <div class="modal-bg">
      <div class="text-card relative">
        <h3 class="mb-2">Modal</h3>
        <p>
          Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in
          laying out print, graphic or web designs. The passage is attributed to
          an unknown typesetter in the 15th century who is thought to have
          scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a
          type specimen book.
        </p>
        <div class="close-button">
          <svg width="1em" height="1em" viewBox="0 0 24 24">
            <path
              d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41z"
            ></path>
          </svg>
        </div>
        <button class="btn btn-danger mt-3">Close</button>
      </div>
    </div>

    <!-- HEADER -->

    <header class="top-navigation">
      <div class="nav-container">
        <div class="logo">
          <a href="index.html">
            <h1>Jarvis<span>UI</span></h1>
          </a>
        </div>
        <div class="nav-links">
          <ul>
            <li><a href="/pages/examples.html">Examples</a></li>
            <li>
              <a href="https://github.com/tejpatelme/JarvisUI" target="_blank">
                <svg width="24px" height="24px" viewBox="0 0 16 16">
                  <path
                    fillRule="evenodd"
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59c.4.07.55-.17.55-.38c0-.19-.01-.82-.01-1.49c-2.01.37-2.53-.49-2.69-.94c-.09-.23-.48-.94-.82-1.13c-.28-.15-.68-.52-.01-.53c.63-.01 1.08.58 1.23.82c.72 1.21 1.87.87 2.33.66c.07-.52.28-.87.51-1.07c-1.78-.2-3.64-.89-3.64-3.95c0-.87.31-1.59.82-2.15c-.08-.2-.36-1.02.08-2.12c0 0 .67-.21 2.2.82c.64-.18 1.32-.27 2-.27c.68 0 1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82c.44 1.1.16 1.92.08 2.12c.51.56.82 1.27.82 2.15c0 3.07-1.87 3.75-3.65 3.95c.29.25.54.73.54 1.48c0 1.07-.01 1.93-.01 2.2c0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                    fill="gray"
                  ></path>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- INPUTS -->

    <!-- Text Input -->
    <input class="input" type="text" placeholder="Enter your email...." />

    <input
      type="password"
      class="input"
      placeholder="Enter your password...."
    />
  </body>

  <div class="mb-3"></div>
  <!-- Radio Input -->
  <label for="radioinput" class="label-radio">
    <input type="radio" id="radioinput" name="radioinput" class="radio" />
    <div class="radio-btn"></div>
    Radio label
  </label>

  <div class="mb-3"></div>

  <!-- Checkbox -->

  <label for="checkboxinput" class="label-checkbox">
    <input
      type="checkbox"
      id="checkboxinput"
      name="checkboxinput"
      class="checkbox"
    />
    <div class="checkbox-box"></div>
    Checkbox label
  </label>
</html>
